/* Paralaje */

body {
    margin: 0;
    padding: 0;
	font-family: "Calling Code", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: white;
	text-align: left;
	background-color: #033649;
	overflow-x: hidden;
	line-height: 1.125;
}

#escena {
    width: 100vw;
    height: 100vh;
    margin: auto;
    overflow: hidden;
}

#escena h1 {
    text-transform: uppercase;
    font-size: 1.5em;
    white-space: pre;
    margin-left: 0;
    text-indent: 0;
    margin-bottom: 0;
    line-height: 1;
}

#logo {
    width: 100vw;
    height: 100vh;
}

#logo > div {
    width: 100%;
    height: calc(100vh - 8em);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#logo > div > div {
    position: absolute;
    padding: .5em;
    background-color: black;
}

#logo > div > div > * {
    float: left;
}

#fondo, #patron, #html, #latex {
    width: calc(100vw + 20em) !important;
    height: calc(100vh + 20em) !important;
    margin: -10em 0 0 -10em;
}

#fondo {
    background: url("../img/fondo.jpg");
    background-size: cover;
}

#patron {
    background: url("../img/patron.png") repeat left top;
}

#html, #latex {
    height: calc(100vh + 30em) !important;
    background-repeat: no-repeat;
}

#html {
    background: url("../img/html.png");
    margin-top: -20em;
}

#latex {
    background: url("../img/latex.png");
    margin: 0;
}

#enter {
    position: absolute;
    top: 90%;
    left: calc(50% - 2.5em);
    width: 4em;
    margin: 0;
    padding: .5em;
    text-align:center;
    background-color: black;
}

#enter p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}
